<h3>Edit Post: <%= @post.title %></h3>
<p><%= @post.content %></p>
<%# content and title should already have a value, so we can change those values - DONE %> 
<div class = "posts">
  <form action="/posts/<%= @post.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Update Title: </label><input type="text" name="title"><br>
    <br>
    <label>Content: </label><textarea name="content" rows="20" cols="50"></textarea><br>
    <br>
    <input type="submit" value="Edit Post">
  </form>
  <br>
</div>

<a href="/posts">
	<button>See Your Posts</button>
<br>
<a href="/logout">
	<button>Logout</button>