<div class="posts">
<h3><%= @post.title %></h3>
<br>
<p><%= @post.content %></p>
<br>

<a href="/posts/<%= @post.id %>/edit">
	<button>Edit This Post</button>
<form method="POST" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Post">
</form>
</div>

<a href="/posts">
	<button>See Your Posts</button>
<br>
<a href="/logout">
	<button>Logout</button>
