<!doctype HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <title>ISODiary</title> 
  </head>
  <body>
    <div class="container">
      <h1>Welcome to ISODiary</h1>

      <%= yield %>
      
    </div>
  </body>
</html>